body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    text-align:center;
    margin:0;
    padding:2px;
    overflow:hidden;
}

h1{
    font-size:32px;
    margin:5px 0;
}

.team{
    width:47%;
    display:inline-block;
    background:white;
    padding:5px;
    margin:3px;
    border-radius:12px;
    box-shadow:0 0 8px rgba(0,0,0,0.2);
}

.team h2{
    font-size:24px;
    margin:3px;
}

.score{
    font-size:42px;
    font-weight:bold;
    color:green;
}

#question{
    font-size:55px;
    font-weight:bold;
    margin:8px 0;
    min-height:70px;
}

.timer{
    font-size:45px;
    font-weight:bold;
    color:red;
    margin:5px;
}

#answer{
    font-size:32px;
    color:green;
    margin:5px;
}

h3{
    font-size:22px;
    margin:5px;
}

#liveAnswers{
    font-size:18px;
    max-height:70px;
    overflow-y:auto;
}

button{
    font-size:16px;
    padding:6px 14px;
    margin:3px;
    border:none;
    border-radius:8px;
    background:#1976d2;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#1565c0;
}
